body {
  margin: 0px;
  box-sizing: border-box;
  /* position: absolute; */
}

img {
  width: 100%;
  margin: 50px 0px;
}

/* TOP SECTIONS */

.top-container {
  padding: 10% 10% 0% 10%;
  align-items: center;
  justify-content: center;
}
.header-text {
  width: 60%;
}
.header-text h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: black;
  margin-bottom: 20px;
  letter-spacing: 0.02rem;
}

.sub-header {
  display: flex;
  /* align-items: center; */
  width: 64%;
  margin: 0px 0px;
}
.material-icons {
  font-size: 18px;
  color: #c4c4c4;
  margin: 0px 15px 0px 0px;
}
.sub-header p {
  font-family: "montserrat";
  font-style: italic;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin: 0px;
  color: #4f4f4f;
}
/* MIDDLE SECTION [INGREDIENT]*/

.steps-report-container {
  position: relative;
  display: grid;
  row-gap: 5px;
  grid-template-columns: 75% 20%;

  /* margin-top: 4%; */
}
.main-container {
  width: 75%;
  padding: 5px;
  position: relative;
}
.main-container h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin: 0px;
}

.main-container h5 {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  color: #333333;
}
.ingredients h5 {
  margin-top: 15px;
}
.ingredients p {
  margin: 0px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #555555;
}
b {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #111111;
}

.checkbox-container {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 92%;
  column-gap: 15px;
}
.paragraph {
  margin: 0px;
}

.card-container {
  width: 100%;
}

/* INSTRUCTION-SECTION*/
.instructions p {
  font-family: "montserrat";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  line-height: 20px;
  text-align: justify;
}
.instructions b {
  font-family: "montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
}
.box-container {
  border-style: none;
  border-radius: 6px;
  background-color: #f2994a;
  width: 29px;
  height: 29px;
  margin: 0px;
  padding: 0px;
  align-items: center;
}
#text {
  display: grid;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: "Playfair Display";
  font-weight: bolder;
  font-size: 19px;
  text-align: center;
  align-items: center;
}
.num-list {
  width: 100%;
  display: grid;
  grid-template-columns: 6% 87%;
  column-gap: 15px;
}
.num-list p {
  margin: 0px;
}
/* CARD SECTION */
.card-container {
  width: auto;
  height: 15%;
  padding: 18%;
  margin-top: 5px;
  border: 1px solid;
  /* border-style: outset; */
  box-shadow: 3px 3px 3px whitesmoke, 1px 1px 1px 2px wheat,
    1px 1px 1px rgba(245, 245, 245, 0.534);
  border-radius: 15px;
  align-content: center;
  border-style: none;
}

.card-container2 {
  position: relative;
  width: auto;
}
.icons-1 i {
  color: #f2994a;
  font-size: 23px;
}
.icons-1 h5 {
  color: #2a634b;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  margin: 0px;
}
.icons-1 p {
  color: #f2994a;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 3px;
}

.icons i {
  color: #2a634b;
  font-size: 23px;
}
.icons h5 {
  color: #309179;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  margin: 0px;
}
.icons p {
  color: #333333;
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 3px;
}

.icons-1 {
  width: 100%;
  display: grid;
  grid-template-columns: 6% 87%;
  column-gap: 25px;
}
.icons {
  width: 100%;
  display: grid;
  grid-template-columns: 6% 87%;
  column-gap: 25px;
}
#content {
  width: 80%;
}

.source {
  font-family: "montsrrat", sans-serif;
  font-style: italic;
  font-weight: 100px;
  font-size: 16px;
  line-height: 150%;
  color: #bdbdbd;
  margin: 4% 0% 9% 14%;

  /* FOOTER SECTION */
}
footer p {
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin: 20px 0px;
}
